#upr {
    height: 100px;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    align-items: center;
  }
  
  #logo {
    width: 28%;
  
    /* padding-top: 25px; */
    padding-left: 100px;
    cursor: pointer;
  
    /* border: 1px solid teal; */
  }
  
  #social {
    width: 13%;
    height: 60px;
    display: flex;
  
    /* border: 1px solid red; */
  }
  #social > img {
    /* border: 1px solid red; */
    width: 33%;
    cursor: pointer;
  }
  
  #loginAndsignup {
    /* border: 1px solid red; */
    width: 25%;
    display: flex;
    gap: 15px;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    font-family: "Roboto", sans-serif;
    margin-right: 100px;
    font-size: 12px;
  }
  #loginAndsignup > p:last-child {
    border-left: 1px solid;
    cursor: pointer;
  }
  
  #lower {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2bb673;
    color: white;
    font-family: "Roboto", sans-serif;
    gap: 5px;
    margin-bottom:30px;
    
  }
  #lower > div {
    width: 10%;
    /* border: 1px solid red; */
    text-align: center;
    cursor: pointer;
  }
  
  #loginAndsignup :nth-child(2) {
    width: 60%;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #35619f;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color:grey;
  }
  
  #loginAndsignup :nth-child(3) {
    width: 60%;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #666666;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }

#third{
    height:auto;
    display:flex;
    justify-content: space-between;
    width:80%;
    margin:auto;
    padding-top:20px;

}

#third{
    height:auto;
    display:flex;
    width:80%;
    justify-content: space-between;
    margin:auto;
}


#under1{
    height:97%;
    width:30%;
}

#d1{
    height:220px;
    width:220px;
    border:grey;
    margin:auto;
    margin-top:5px;
    border-radius:10px;
    border: 1px solid grey;;
    background-color: white;
   }
#under2{
    height:auto;
    width:75%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
      padding:25px 25px 0px 25px;
}
#d1>img{
    height:150px;
    width:150px;
    padding-left:35px;
    padding-top:20px;
}
body{
    background-color: rgb(246, 249, 250);

}
*{
    font-family: sans-serif;
}
p{
    color:grey;
    font-size: 20px;
    text-align: center;
}
#first{
    font-size: 25px;
    padding-left:30px;
    font-weight: 100;
}
#big{
    font-size: 25px;
    font-weight: 100;

}
#seecond{
    font-size: 15px;;
    padding-left:30px;
    text-align: center;
}

#img{
    height:220px;
    width:100%;
}
#support{
    height:220px;
    width:32%;
    /* border:1px solid red; */
}
#main-support{
     display:flex;
     justify-content: space-between;
}
#p{
    font-size: 15px;
    color: black;
}
#image{
    height:400px;
    width:100%;
}

#down{
    height:300px;
    width:100%;
    margin-top:40px;
    background-color: #2bb673;
    padding-top:15px;

}
#white{
    height:100%;
    width:20%;
    color: white;
    font-size: 10px;
    line-height: 20px;
}
#downsmall{
    height:300px;
    width:80%;
    margin:auto;
    display:flex;

}
li{
    padding-left:60px;
}
#aa{
    color:white;
    font-size: 12px;
    font-weight: bold;
}
#big{
    font-size: 30px;
    /* font-weight: bold; */
}
#image{
    border-radius:20px;
    margin-top:20px;
}
#first{
    font-size: 22px;

}
#btn{
    height:60px;
    width:250px;
    text-align: center;
    border-radius:5px;
    margin-left: 30%;
    border: 0;
    color:white;
    font-size:20px;
    font-weight: bold;
    background-color: #F53838;
}