@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0%;
  margin: 0;
  /* height: 100vh; */
  width: 100%;
  font-family: "Roboto", sans-serif;
}

/* .content img {
  width: 100%;
  border: 1px;
} */

.content {
  margin: auto;
  height: 55vh;
  width: 80%;
  background-image: url(../images/1.PNG);

  background-size: 100%;

  background-repeat: repeat;
  transition: 5s;

  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-out;
  animation-duration: 18s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes animate {
  0% {
    background-image: url(../images/1.PNG);
  }
  14.28% {
    background-image: url(../images/2.PNG);
  }

  28.57% {
    background-image: url(../images/3.PNG);
  }
  42.84% {
    background-image: url(../images/4.PNG);
  }
  57.12% {
    background-image: url(../images/5.PNG);
  }
  71.4% {
    background-image: url(../images/6.PNG);
  }
}

.middle_sec_divs {
  /* border: 1px solid black; */

  width: 80%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-top: 30px;
}

.middle_sec {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
  background-color: white;

  /* margin-top: 25px; */
  /* border: 1px solid red; */
}

.middle_sec > div {
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
  color: #666670;
}
.middle_sec > div > img {
  width: 100%;
  height: 80%;
  border-radius: 4px;
}
#crausel_bottom_imgs {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: auto;
  padding: 20px;
  gap: 20px;
}
.upr_text {
  display: flex;
  margin: auto;
  background-color: white;
  width: 100%;
  align-items: center;
  padding-top: 15px;
  color: #3e84ff;
  gap: 20px;
}
.upr_text > div:first-child {
  margin-left: 10px;
  color: #666666;
  /* border: 1px solid red; */
  width: 35%;
  cursor: pointer;
}
.side_text {
  display: flex;
  align-items: center;
  text-align: center;
  /* border: 1px solid red; */
}

#grad {
  background-image: linear-gradient(white, white, lightgrey);
  padding-bottom: 50px;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-right: 50px; */
  /* border: 1px solid blue; */
  width: 90%;
  color: #3e84ff;
  font-size: 18px;
  cursor: pointer;

  margin-left: 50px;
}
#Introducing_section {
  text-align: center;
  margin-top: 100px;
  /* border: 1px solid teal; */
  color: #666670;
}
#Introducing_section :nth-child(1) {
  text-align: center;
  font-size: 36px;
  color: #666666;
  cursor: pointer;
}
#Introducing_section :nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid teal; */
  text-align: center;
}
#Introducing_section :nth-child(2) > p {
  width: 200px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
}
#Introducing_section :nth-child(2) > img {
  width: 300px;
  margin-top: 30px;
  margin-bottom: 50px;
}
#instant_section {
  display: flex;
  gap: 10px;
  width: 80%;
  margin: auto;
  margin-top: 50px;

  /* border: 1px solid red; */
}
#instant_section > div {
  width: 230px;
  height: 200px;
  margin: auto;
  padding: 20px 10px;
  text-align: center;
  font-size: 13px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 10px;
  color: #666670;
}
#instant_section > div:nth-child(1) > a > img {
  width: 197px;
  height: 100px;
  margin-bottom: 40px;
}
#instant_section > div:nth-child(2) > a > img {
  width: 124.3px;
  height: 100px;
  margin-bottom: 40px;
}
#instant_section > div:nth-child(3) > a > img {
  width: 160.73px;
  height: 100px;
  margin-bottom: 40px;
}
#instant_section > div:nth-child(4) > a > img {
  width: 153.7px;
  height: 100px;
  margin-bottom: 40px;
}

#restaurantOrCafe_text {
  width: 80%;
  /* border: 1px solid red; */
  margin: auto;
  text-align: center;
  margin-top: 60px;
  font-size: 20px;
  color: #666670;
}

#join_button {
  width: 450px;
  height: 90px;
  font-size: 16px;
  line-height: 18px;
  background-color: #f53838;

  border-radius: 10px;
  border: none;
  margin-top: 50px;
  cursor: pointer;
  color: white;
}
#join_button > h1 > a {
  color: white;
  text-decoration: none;
}

#join_button > h1 {
  font-size: 40px;
  margin-top: 20px;
}
#Featured {
  text-align: center;
  margin-top: 80px;
  font-size: 26px;
  color: #666670;
}
#Featured > img {
  width: 80%;
  /* border: 1px solid red; */
  margin-top: 20px;
  cursor: pointer;
}
#banner {
  width: 100%;

  background-color: #ececec;
}
#banner > img {
  display: block;
  height: 250px;
  width: 1100px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: -40px;
}
