


  #down{
    height:300px;
    width:100%;
    margin-top:40px;
    background-color: #2bb673;
    padding-top:15px;

}
#p1{
    font-size: 35px;
    color:black;
}
#p2{
    font-size: 35px;
    color:grey
}
#white{
    height:100%;
    width:20%;
    color: white;
    font-size: 10px;
    line-height: 20px;
}
#downsmall{
    height:300px;
    width:80%;
    margin:auto;
    display:flex;

}
#aa{
    color:white;
    font-size: 12px;
    font-weight: bold;
}
#imggg{
    border:10px solid white;
    width:98%;
}
#p3{
    font-family: sans-serif;
    font-size: 13px;
}
  #p6{
    color: grey;
  }
     
#niche{
    display:flex;
}
#start{
    height:auto;
    width:80%;
    margin:auto;
}
#niche4{
    /* border:1px solid blue; */
    height:auto;
    width:100%;
    margin-top:30px;
    background-color: white;
    padding-top:25px;
}
#one_div{
    display:flex;
    justify-content: space-around;
}
#small_divs{
    border:1px solid grey;
    height:40px;
    width:150px;
    text-align: center;
    
    margin-bottom:30px;
    border-radius: 5px;
    background-color: rgb(245, 248, 249);

}
button{
    height:40px;
    width:70px;
    background-color: #F53838;
    margin-top:5px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color:white;
    margin-right:5px;

}
/* a{
    text-decoration: none;
} */
#number_div{
    display:flex;
    justify-content: space-around;
    height:50px;
    width:25%;
}
#teddy_image{
height:50px;
width:50px;
border-radius: 20px;
}
#major_big_div{
height:auto;
width:80%;
}
#six_div{
height:300px;
width:30%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius: 10px;
padding:15px 10px 0 0px;

}
#move{
    position: absolute;
    /* left: 0px;
    top: 260px; */
    background-color: rgba(0, 0, 0, 0.5);
    /* vertical-align: middle; */
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    z-index: 10;
    width:23.8%;
    height:20px;
    padding:10px 0 10px 0;
    margin-top:-40px;
    font-weight: normal;
}
#image_one{
    height:65%;
    width:100%;
}
#one{
display:flex;
justify-content: space-between;
}
input{
    height:40px;
    width:30%;
    border-radius: 5px;

}
/* body{
    background-color: rgb(246, 249, 250);

} */
#select{
    height:40px;
    width:20%;
    border-radius: 5px;

}
#search_recipes{
  height:40px;
  width:18%;
  background-color:#F53838 ;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
  border: 0;
}
#btn2{
    height:40px;
    border: 0;

    width:17%;
    background-color:#04BE5A ;
    color: white;
    border-radius: 5px;
    font-size: 18px;
  font-weight: bold;
  margin-left:40px;



  }


#two{
    height: 70%;
    width:100%;
}

#smallimg{
    height:25px;
    width:25px;
    padding-left:60px;
    

}
#smallimg{
    height:25px;
    width:25px;
}
#tddiv{
    height:30px;
    width:330px;
    display:flex;
}

#desc{
    height:auto;
    width:100%;
}
#imm{
   
        height:25px;
        width:25px;
        margin:10px 10px 0 10px;;
    }
#three{
    display:flex;
    justify-content: space-between;
}
#time1{
    display:flex;
}
#major_big_div{
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
    height:auto;
    width:100%;
    justify-content: space-between;
}
.time_image{
    height:30px;
    width:30px;
}
.ttt_div{
    display:flex;
    height:30px;
    width:80px;
}

.hhh_div{
    display:flex;
    height:30px;
    width:80px;
}

.ccc_div{
    display:flex;
    height:30px;
    width:80px;
}
.aaaddd{
    height:50px;
    width:300px;
    display:flex;
    margin:auto;
    margin-top:-13%;
    justify-content: space-between;
}
.how_time{
    padding-left:8px;
    margin-top:6px;

}
.how_hearts{
    padding-left:8px;
    margin-top:6px;

}
.how_comment{
    padding-left:8px;
    margin-top:6px;
}
.food_image{
    height:250px;
    width:300px;
    position: relative;;
}
.detail_div{
    background-color: rgba(0, 0, 0, 0.5);

    height:40px;
    width:300px;
    position:absolute;
    margin:-6.5% 0 0 0%;
    text-align: center;
    color:white;
    font-weight: normal;
    cursor: pointer;
    z-index: 10;

    
}
.title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}
.img_div{
    height:300px;
    width:300px;
    margin:auto;
}
#getting{
    height:auto;
    width:300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
      margin:auto;
    margin-top:3%;
    border-bottom: 15px;
    padding:1px 10px 10px 10px;
    border-radius: 15px;


}
#search{
    font-size: 18px;
}
/* #option{
    font-size: 18px;
} */
